In [1]:
import pandas as pd

# Load population data
pop = pd.read_csv("ACSDT5Y2024.B01003-Data.csv")

# Drop the description row
pop = pop.iloc[1:].copy()

# Keep only required columns
pop = pop[["GEO_ID", "NAME", "B01003_001E"]]

# Rename columns
pop.columns = ["geo_id", "county_name", "total_population"]

# Extract county FIPS (last 5 digits)
pop["county_fips"] = pop["geo_id"].str[-5:]

# Convert population to numeric
pop["total_population"] = pd.to_numeric(pop["total_population"], errors="coerce")

# Final clean table
pop_clean = pop[["county_fips", "county_name", "total_population"]]

pop_clean.head()

  county_fips              county_name  total_population
1       01001  Autauga County, Alabama             59947
2       01003  Baldwin County, Alabama            246989
3       01005  Barbour County, Alabama             24643
4       01007     Bibb County, Alabama             22130
5       01009   Blount County, Alabama             59518

In [3]:
# -----------------------------------------
# Clean Median Household Income (ACS B19013)
# -----------------------------------------

income = pd.read_csv("ACSDT5Y2024.B19013-Data.csv")

# Drop description row
income = income.iloc[1:].copy()

# Keep required columns
income = income[["GEO_ID", "B19013_001E"]]

# Rename columns
income.columns = ["geo_id", "median_household_income"]

# Extract county FIPS
income["county_fips"] = income["geo_id"].str[-5:]

# Convert to numeric
income["median_household_income"] = pd.to_numeric(
    income["median_household_income"], errors="coerce"
)

income_clean = income[["county_fips", "median_household_income"]]

income_clean.head()

  county_fips  median_household_income
1       01001                  72481.0
2       01003                  78775.0
3       01005                  46042.0
4       01007                  52541.0
5       01009                  64190.0

In [5]:
# -----------------------------------------
# Clean Poverty Rate (ACS B17001)
# -----------------------------------------

poverty = pd.read_csv("ACSDT5Y2024.B17001-Data.csv")

# Drop description row
poverty = poverty.iloc[1:].copy()

# Keep required columns
poverty = poverty[["GEO_ID", "B17001_001E", "B17001_002E"]]

# Rename columns
poverty.columns = ["geo_id", "total_population", "below_poverty"]

# Extract county FIPS
poverty["county_fips"] = poverty["geo_id"].str[-5:]

# Convert to numeric
poverty["total_population"] = pd.to_numeric(poverty["total_population"], errors="coerce")
poverty["below_poverty"] = pd.to_numeric(poverty["below_poverty"], errors="coerce")

# Calculate poverty rate
poverty["poverty_rate"] = poverty["below_poverty"] / poverty["total_population"]

poverty_clean = poverty[["county_fips", "poverty_rate"]]

poverty_clean.head()

  county_fips  poverty_rate
1       01001      0.112895
2       01003      0.100927
3       01005      0.213826
4       01007      0.224570
5       01009      0.128601

In [7]:
# -----------------------------------------
# Clean Unemployment Rate (ACS B23025)
# -----------------------------------------

unemp = pd.read_csv("ACSDT5Y2024.B23025-Data.csv")

# Drop description row
unemp = unemp.iloc[1:].copy()

# Keep required columns
unemp = unemp[["GEO_ID", "B23025_003E", "B23025_005E"]]

# Rename columns
unemp.columns = ["geo_id", "labor_force", "unemployed"]

# Extract county FIPS
unemp["county_fips"] = unemp["geo_id"].str[-5:]

# Convert to numeric
unemp["labor_force"] = pd.to_numeric(unemp["labor_force"], errors="coerce")
unemp["unemployed"] = pd.to_numeric(unemp["unemployed"], errors="coerce")

# Calculate unemployment rate
unemp["unemployment_rate"] = unemp["unemployed"] / unemp["labor_force"]

unemp_clean = unemp[["county_fips", "unemployment_rate"]]

unemp_clean.head()

  county_fips  unemployment_rate
1       01001           0.023951
2       01003           0.030273
3       01005           0.077895
4       01007           0.120808
5       01009           0.049985

In [9]:
# -----------------------------------------
# Clean Education Level (ACS B15003)
# -----------------------------------------

edu = pd.read_csv("ACSDT5Y2024.B15003-Data.csv")

# Drop description row
edu = edu.iloc[1:].copy()

# Columns needed
cols = [
    "GEO_ID",
    "B15003_001E",  # total 25+
    "B15003_022E",  # bachelor's
    "B15003_023E",  # master's
    "B15003_024E",  # professional
    "B15003_025E",  # doctorate
]

edu = edu[cols]

# Rename columns
edu.columns = [
    "geo_id",
    "total_25_plus",
    "bachelors",
    "masters",
    "professional",
    "doctorate",
]

# Extract county FIPS
edu["county_fips"] = edu["geo_id"].str[-5:]

# Convert to numeric
for col in [
    "total_25_plus",
    "bachelors",
    "masters",
    "professional",
    "doctorate",
]:
    edu[col] = pd.to_numeric(edu[col], errors="coerce")

# Calculate bachelor's or higher percentage
edu["bachelors_or_higher_pct"] = (
    edu["bachelors"]
    + edu["masters"]
    + edu["professional"]
    + edu["doctorate"]
) / edu["total_25_plus"]

edu_clean = edu[["county_fips", "bachelors_or_higher_pct"]]

edu_clean.head()

  county_fips  bachelors_or_higher_pct
1       01001                 0.291385
2       01003                 0.336895
3       01005                 0.106273
4       01007                 0.117256
5       01009                 0.158182

In [11]:
# -----------------------------------------
# Clean Housing / Homeownership (ACS B25003)
# -----------------------------------------

housing = pd.read_csv("ACSDT5Y2024.B25003-Data.csv")

# Drop description row
housing = housing.iloc[1:].copy()

# Keep required columns
housing = housing[
    ["GEO_ID", "B25003_001E", "B25003_002E", "B25003_003E"]
]

# Rename columns
housing.columns = [
    "geo_id",
    "total_housing",
    "owner_occupied",
    "renter_occupied",
]

# Extract county FIPS
housing["county_fips"] = housing["geo_id"].str[-5:]

# Convert to numeric
for col in ["total_housing", "owner_occupied", "renter_occupied"]:
    housing[col] = pd.to_numeric(housing[col], errors="coerce")

# Calculate rates
housing["homeownership_rate"] = housing["owner_occupied"] / housing["total_housing"]
housing["renter_rate"] = housing["renter_occupied"] / housing["total_housing"]

housing_clean = housing[
    ["county_fips", "homeownership_rate", "renter_rate"]
]

housing_clean.head()

  county_fips  homeownership_rate  renter_rate
1       01001            0.770607     0.229393
2       01003            0.776036     0.223964
3       01005            0.682406     0.317594
4       01007            0.791796     0.208204
5       01009            0.809829     0.190171

In [13]:
# -----------------------------------------
# Merge All Cleaned Datasets into Master Table
# -----------------------------------------

# Start with population as base
df_county = pop_clean.copy()

# Sequential left joins
df_county = df_county.merge(income_clean, on="county_fips", how="left")
df_county = df_county.merge(poverty_clean, on="county_fips", how="left")
df_county = df_county.merge(unemp_clean, on="county_fips", how="left")
df_county = df_county.merge(edu_clean, on="county_fips", how="left")
df_county = df_county.merge(housing_clean, on="county_fips", how="left")

# Final check
print("Final shape:", df_county.shape)
df_county.head()

Final shape: (3222, 9)

,county_fips,county_name,total_population,median_household_income,poverty_rate,unemployment_rate,bachelors_or_higher_pct,homeownership_rate,renter_rate
0,01001,"Autauga County, Alabama",59947,72481.0,0.112895,0.023951,0.291385,0.770607,0.229393
1,01003,"Baldwin County, Alabama",246989,78775.0,0.100927,0.030273,0.336895,0.776036,0.223964
2,01005,"Barbour County, Alabama",24643,46042.0,0.213826,0.077895,0.106273,0.682406,0.317594
3,01007,"Bibb County, Alabama",22130,52541.0,0.224570,0.120808,0.117256,0.791796,0.208204
4,01009,"Blount County, Alabama",59518,64190.0,0.128601,0.049985,0.158182,0.809829,0.190171

In [15]:
# -----------------------------------------
# Data Quality Checks
# -----------------------------------------

print("Duplicate county_fips:", df_county["county_fips"].duplicated().sum())

print("\nMissing values (%):")
(df_county.isna().mean() * 100).round(2)

Duplicate county_fips: 0

Missing values (%):

county_fips                0.00
county_name                0.00
total_population           0.00
median_household_income    0.03
poverty_rate               0.00
unemployment_rate          0.00
bachelors_or_higher_pct    0.00
homeownership_rate         0.00
renter_rate                0.00
dtype: float64

In [17]:
# -----------------------------------------
# Save Clean Master Dataset
# -----------------------------------------

df_county.to_csv("county_master.csv", index=False)

print("Saved: county_master.csv")
print("Final shape:", df_county.shape)

Saved: county_master.csv
Final shape: (3222, 9)